<article class="card card--product" id="<%= productData._id %>">
  <figure class="card__image-container">
    <img class="card__image" loading="lazy" src="<%= productData.productImage %>"
      alt="<%= productData.productName %>">
  </figure>
  <div class="card__body">
    <div class="card__description">
      <%= productData.productCollection %>
    </div>
    <div class="card__title">
      <%= productData.productName %>
    </div>
    <div class="card__price">
      $<%= productData.productPrice %>
    </div>
  </div>
  <a class="card__btn" href="/catalogo/producto/<%= productData._id %>">Ver más</a>
</article>