<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shalott | Catálogo de Joyería</title>
  <meta name="description" 
    content="Nuestro catálogo cuenta con una variedad de aretes, collares, pulseras y
     broches hechos a mano con arcilla polimérica">

  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/catalogue.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/footer.css">

  <!-- Font awesome link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Box icons -->
  <link href='https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css' rel='stylesheet'>
  <!-- Glider css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
</head>

<body>
  <%- include("partials/navbar.ejs") %>
  <main data-groups="<%= groups %>">
    <section class="section section--catalogue">
      <div class="section__content">
        <div class="catalogue__header">
          <h1 class="catalogue__title"><%= title %></h1>
          <div class="catalogue__filters">
            <form class="filter-form" id="search-form">
              <label class="filter__label">Buscar por:</label>
              <select class="filter__select" id="search-select">
                <option class="filter__option" value="" selected>
                  -- Selecciona filtro --
                </option>
                <option class="filter__option" value="todo">Todos</option>
                <optgroup class="filter__option" label="Categorias">
                  <% for(let i = 0; i < selectCategories.length; i++) { %>
                    <% if (locals.category === selectCategories[i].name) { %>
                      <option class="filter__option" selected 
                        value="categoria <%= selectCategories[i].name %>">
                        <%= selectCategories[i].name.charAt(0).toUpperCase() + selectCategories[i].name.slice(1) %>
                      </option>
                    <% } else { %>
                      <option class="filter__option" 
                        value="categoria <%= selectCategories[i].name %>">
                        <%= selectCategories[i].name.charAt(0).toUpperCase() + selectCategories[i].name.slice(1) %>
                      </option>
                    <% } %>
                  <% } %>
                </optgroup>
                <optgroup class="filter__option" label="Colecciones">
                  <% for(let i = 0; i < selectCollections.length; i++) { %>
                    <% if (locals.collection === selectCollections[i].name) { %>
                    <option class="filter__option" selected 
                      value="coleccion <%= selectCollections[i].name %>">
                      <%= selectCollections[i].name.charAt(0).toUpperCase() + selectCollections[i].name.slice(1) %>
                    </option>
                    <% } else { %>
                      <option class="filter__option" 
                        value="coleccion <%= selectCollections[i].name %>">
                        <%= selectCollections[i].name.charAt(0).toUpperCase() + selectCollections[i].name.slice(1) %>
                      </option>
                    <% } %>
                  <% } %>
                </optgroup>
              </select>
            </form>
            <% if(groups === false) { %>
            <form class="filter-form" id="sort-form">
              <label class="filter__label filter__label--right">Ordenar por:</label>
              <select class="filter__select" id="sort-select">
                <% if (!locals.sort) { %>
                  <option class="filter__option" value="" selected>-- Selecciona orden --</option>
                <% } %>
                <% if(locals.sort == "asc") { %>
                  <option class="filter__option" value="asc" selected>Precio - Ascendente</option>
                <% } else { %>
                  <option class="filter__option" value="asc">Precio - Ascendente</option>
                <% } %>
                <% if(locals.sort == "desc") { %>
                  <option class="filter__option" value="desc" selected>Precio - Descendente</option>
                <% } else { %>
                  <option class="filter__option" value="desc">Precio - Descendente</option>
                <% } %>
              </select>
            </form>
            <% } %>
          </div>
        </div>
        <% if(groups === false) { %>
          <div class="card-container">
            <% for(let i = 8*(page-1); i < products.length && i < 8*page; i++) { %>
              <%- include("partials/product_card.ejs", { productData: products[i]}) %>
            <% } %>
          </div>
        <% } %>
        <% if(groups === true) { %>
          <div class="card-container">
            <% for(let i = 8*(page-1); i < products.length && i < 8*page; i++) { %>
              <% if(collections === false) { %>
                <%- include("partials/category_card.ejs", { category: products[i]}) %>
              <% } %>
              <% if(collections === true) { %>
                <%- include("partials/collection_card.ejs", { collection: products[i]} ) %>
              <% } %>
            <% } %>
          </div>
        <% } %>

        <div class="catalogue__nav">
          <i class='bx bxs-left-arrow catalogue__arrow <%= page <= 1 ? "inactive" : "" %>' 
            id="prev-page"></i>
          <i class='bx bxs-right-arrow catalogue__arrow <%= page>=products.length / 8 ? "inactive" : "" %>' 
            id="next-page"></i>
        </div>
      </div>

    </section>
  </main>
  <%- include("partials/footer.ejs")-%>
  
  <script src="/js/navbar.js"></script>
  <script src="/js/catalogue_filters.js"></script>
  <script src="/js/product_card.js"></script>
</body>

</html>