<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shalott</title>
  <link rel="stylesheet" href="/styles.css" />
  <!-- Font awesome link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Box icons -->
  <link href='https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css' rel='stylesheet'>  
</head>

<body>
  <header>
    <figure class="logo-container">
      <img class="logo" src="/images/ShalottLogo.png" alt="Shalott Logo"/>
    </figure>
    <i class="fa fa-bars menu"></i>
  </header>
  <section class="section--banner">
    <img class="banner__image" src="/images/BannerImage.png" alt="Banner Image"/>
  </section>
  <section class="section--products">
    <div class="section__content">
      <div class="section__title">
        <img class="title__image" src="/images/ShalottFlower.png" alt="Shalott Flower">
        <div class="title__text">Destacados</div>
        <div class="title__line"></div>
      </div>
      <div class="card-container">
        <%-include("partials/product_card.ejs", {productData: products[0]}) %>
        <%-include("partials/product_card.ejs", {productData: products[1]}) %>
        <%-include("partials/product_card.ejs", {productData: products[2]}) %>
        <%-include("partials/product_card.ejs", {productData: products[3]}) %>
      </div>
    </div>
  </section>
  <section class="section--about section--dark">
    <div class="section__content">
      <div class="section__title">
        <img class="title__image" src="/images/ShalottButterfly.png" alt="Shalott Butterfly">
        <div class="title__text">Sobre Nosotros</div>
        <div class="title__line"></div>
      </div>
      <div class="about__col">
        <div class="about__text text">
          <p class="text text--small">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi hic odit dignissimos labore blanditiis
            perspiciatis molestias illo deserunt nesciunt soluta voluptatum nostrum dolor, laboriosam, quod cumque
            reprehenderit modi dicta velit?
          </p>
          <p class="text text--small">
            Minima obcaecati cumque similique, dicta reprehenderit tempore tenetur quos deleniti asperiores reiciendis
            facere, necessitatibus repellat ut velit minus saepe. Assumenda velit et tenetur esse quaerat quos beatae qui
            eos maxime.
          </p>
        </div>
        <figure class="about__image-container">
          <img class="about__image" src="/images/AboutPhoto.jpg" alt="About us Photo">
        </figure>
      </div>
    </div>
  </section>
  <section class="section--collections">
    <div class="section__content">
      <div class="section__title">
        <img class="title__image" src="/images/ShalottLeaf.png" alt="Shalott Leaf">
        <div class="title__text">Categorías</div>
        <div class="title__line"></div>
      </div>
      <div class="card-container">
        <%- include("partials/category_card.ejs", {category: categories[0]}) %>
        <%- include("partials/category_card.ejs", {category: categories[1]}) %>
        <%- include("partials/category_card.ejs", {category: categories[2]}) %>
        <%- include("partials/category_card.ejs", {category: categories[3]}) %>
      </div>

    </div>
  </section>

  <footer>
    <div class="footer__links">
      <div class="footer__container">
        <h3 class="footer__title">Productos</h3>
        <a class="footer__link">Buscar</a>
        <a class="footer__link">Categorías</a>
        <a class="footer__link">Colecciones</a>
      </div>
      <div class="footer__container">
        <h3 class="footer__title">Empresa</h3>
        <a class="footer__link">Contacto</a>
        <a class="footer__link">Sobre Nosotros</a>
      </div>
      <div class="footer__container">
        <h3 class="footer__title">Tienda</h3>
        <a class="footer__link">Mi Carrito</a>
      </div>
    </div>
    <div class="footer__social-media">
      <i class='bx bxl-facebook-circle social-icon' id="icon--facebook"></i>
      <i class='bx bxl-instagram-alt social-icon' id="icon--instagram"></i>
      <i class='bx bxl-whatsapp social-icon' id="icon--whatsapp"></i>
    </div>
  </footer>

</body>

</html>