<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shalott | Vista de Producto</title>

  <link rel="stylesheet" href="/styles.css" />
  <!-- Font awesome link-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Box icons -->
  <link href='https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css' rel='stylesheet'>
  <!-- Glider css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
</head>

<body>
  <%- include("partials/navbar.ejs") %>
    <main>
      <section class="section section--display">
        <div class="section__content">
          <div class="display__row">
            <figure class="display__image-container">
              <img class="display__image" src="<%= product.productImage %>"
                alt="Producto <%= product.productName%> de arcilla polimérica">
            </figure>
            <article class="display__content">
              <h2 class="display__title">
                <%= product.productName %>
              </h2>
              <p class="display__price">
                $<%= product.productPrice.toFixed(2) %>
              </p>
              <div class="display__description">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate porro eveniet tempora ipsa autem
                repudiandae neque itaque iure fugiat excepturi pariatur cupiditate, eius quidem officia inventore
                doloribus! Commodi, officiis odio?
              </div>
              <form class="display__form">
                <div class="display__form-row">
                  <label for="product-amount">Cantidad:</label>
                  <input type="number" id="product-amount" min="0" max="5" value="1">
                </div>
                <div class="display__form-row">
                  <label for="product-variant">Variante:</label>
                  <select name="product-variant" id="product-variant">
                    <option>Color 1</option>
                    <option>Color 2</option>
                  </select>
                </div>
                <button 
                  data-product-id="<%= product._id %>"
                  data-product-name="<%= product.productName %>"
                  data-product-image="<%= product.productImage %>"
                  data-product-price="<%= product.productPrice %>"
                  data-product-slug="<%= product.slug %>"
                  class="display__btn">
                    Agregar al carrito
                </button>
              </form>
            </article>
          </div>
          <div class="display__row">
            <article class="display__info">
              <div class="section__title section__title--display">
                <div class="title__text">Información Adicional</div>
                <div class="title__line"></div>
              </div>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, esse dolorem mollitia possimus magni
              nesciunt. Architecto harum sequi enim ratione culpa repellendus deleniti expedita nulla repudiandae alias!
              Expedita, blanditiis in.
              Maiores dolorum repellendus natus earum fuga impedit, neque necessitatibus modi tempore. Asperiores nisi
              tempore minima doloremque vitae voluptates non explicabo corrupti totam, eveniet, dicta numquam? Incidunt
              aut est deleniti dolor.
              Quae corrupti nulla omnis vero, impedit, neque magnam dolorum adipisci, recusandae maxime at quis
              veritatis officiis nobis veniam deserunt. Quasi eos sapiente illum blanditiis voluptate placeat nobis
              doloremque sed accusantium?
            </article>
          </div>
        </div>
      </section>
    </main>
    <%- include("partials/footer.ejs") %>
      <script src="/js/navbar.js"></script>
      <script src="/js/add_to_cart.js"></script>
</body>

</html>